	<ul>
		<li><a href="/">AIR group</a></li>
		<li><a href="<%= categories_path %>">Все категории</a></li>
		<li><a href="<%= products_path(:format => 'json') %>">API product test</a></li>
		<li><a href="<%= categories_path(:format => 'json')  %>">API categories test</a></li>
		<li><a href="<%= new_category_path %>">Создать категорию</a></li>
	</ul>

