<div class="starter-template">
  <h1 class="bold">НОВОЕ МОБИЛЬНОЕ ПРИЛОЖЕНИЕ</h1>
  <h2 class="bold">СКОРО...</h2>
  <br>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Corporis dicta dolorem <br> error maxime quaerat rem tenetur unde voluptatibus! <br>
    Consequatur corporis cum eaque facilis fugit id modi praesentium quod saepe ullam.</p>
</div>