<h1>Все товары</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Text</th>
    <th>Price</th>
  </tr>

  <% @products.each do |product| %>
      <tr>
        <td> <%= link_to Product.find(product).title %></td>
        <td> <img src='<%= product.picture.url %>' width="200" height='200'></td>
        <td><%= product.text %></td>
        <td><%= product.price %> сом</td>
      </tr>
  <% end %>
</table>
