<p>
  <strong>Category:</strong>
  <%= @category.title %>
</p>

<%= link_to 'Edit, ', edit_category_url(@category) %>
<%= link_to 'Remove', category_url(@category),
            method: :delete,
            data: {confirm: 'Вы действительно хотите удалить этот товар?'} %>