<div>
	<div>
		<h1><%= @product.title %></h1>
		<div><%= @product.text %></div>
		<div><%= @product.price %> сом</div>
	</div>
	<%= link_to 'Destroy', [@product.category, @product], method: :delete %>
</div>